<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Recuperar Senha</title>
    <!-- Inclusão do Header -->
    <%- include('../partials/header') %>
    <!-- CSS do Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
                <h2>Recuperar Senha</h2>
                <hr />
                <br />

                <% if (success) { %>
                    <div class="alert alert-success">
                        <%= success %>
                    </div>
                <% } %>

                <% if (error) { %>
                    <div class="alert alert-danger">
                        <%= error %>
                    </div>
                <% } %>

                <p>
                    Por favor, informe seu e-mail para recuperar sua senha.
                </p>

                <form action="/v1/api/usuarios/recuperar-senha" method="POST">
                    <div class="form-group">
                        <input 
                            type="email"
                            name="email"
                            class="form-control"
                            placeholder="Digite seu e-mail"
                            required
                        />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Recuperar Senha
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
